<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="former">
    <xacro:include filename="$(find former_description)/urdf/common/insert_inertia.urdf.xacro"/>
    <xacro:include filename="$(find former_description)/urdf/former.urdf.xacro"/>
    <xacro:include filename="$(find former_description)/urdf/former_gazebo.urdf.xacro"/>
    <xacro:include filename="$(find former_description)/urdf/former_ros2_control.urdf.xacro"/>
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

    <xacro:arg name="use_gazebo_sim" default="false"/>
    <xacro:arg name="namespace" default=""/>
    <xacro:arg name="tf_prefix" default=""/>

    <xacro:insert_robot prefix="$(arg tf_prefix)"/>
    <xacro:insert_gazebo prefix="$(arg tf_prefix)" namespace="$(arg namespace)"/>
    <xacro:insert_ros2_control name="former_system" prefix="$(arg tf_prefix)" use_gazebo_sim="$(arg use_gazebo_sim)"/>
</robot>