<launch>
    <env name="QT_AUTO_SCREEN_SCALE_FACTOR" value="1"/>
    <arg name="prefix" default=""/>

    <param name="robot_description" command="$(find xacro)/xacro $(find former_description)/urdf/robot.urdf.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find former_description)/view_robot.rviz" required="true"/>
</launch>