<launch>
    <arg name="world_name" default="office_building.world"/>
    <arg name="x" default="-5.0"/>
    <arg name="y" default="-3.0"/>
    <arg name="yaw" default="0.0"/>

    <include file="$(find former_gazebo)/launch/bringup_gazebo.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find former_gazebo)/launch/spawn_robot.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <include file="$(find former_ros_control)/launch/bringup_controllers.launch"/>
</launch>